name: Deploy Next.js to cPanel

on:
  push:
    branches:
      - main # Jalankan otomatis setiap push ke branch main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # File/folder yang dikirim (hasil build)
          local-dir: ./
          server-dir: /repository.samaloop.com/
          exclude: |
            **/.git*
            **/node_modules/**
            **/app/**
            src/**           

      - name: Trigger Restart
        run: |
            echo:"Restarting application..." > tmp/restart.txt